async-timeout==4.0.3
attrs==23.2.0
blinker==1.7.0
Brotli==1.1.0
certifi==2024.6.2
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
commonmark==0.9.1
ConfigArgParse==1.7
cryptography==44.0.0
Deprecated==1.2.14
exrex==0.11.0
Faker==35.0.0
Flask==3.0.2
Flask-Cors==4.0.2
Flask-Limiter==3.5.1
Flask-Login==0.6.3
genson==1.2.2
gevent==24.2.1
geventhttpclient==2.3.1
greenlet==3.0.3
gunicorn==22.0.0
idna==3.7
importlib_resources==6.1.2
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.5
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
limits==3.9.0
linecache2==1.0.0
locust==2.29.1
markdown-it-py==3.0.0
markdown2==2.5.3
MarkupSafe==2.1.5
mdpdf==0.0.18
mdurl==0.1.2
msgpack==1.0.8
Nuitka==2.1.2
ordered-set==4.1.0
packaging==23.2
pdfminer.six==20240706
pillow==10.3.0
pluggy==1.4.0
psutil==6.0.0
pyarmor.cli.core==6.5.0
pycparser==2.22
Pygments==2.17.2
PyJWT==2.8.0
PyMuPDF==1.25.2
pypng==0.20220715.0
PyQRCode==1.2.1
pytest==8.0.2
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
pyzmq==26.0.3
qrcode==7.4.2
redis==5.0.2
referencing==0.33.0
requests==2.32.3
rich==13.7.1
rpds-py==0.18.0
six==1.16.0
traceback2==1.4.0
typing_extensions==4.9.0
unittest2==1.1.0
urllib3==2.2.2
Werkzeug==3.0.6
wrapt==1.16.0
zope.event==5.0
zope.interface==6.4.post2
zstandard==0.22.0
