body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    padding-top: 60px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    z-index: 9999;
    overflow: visible;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #ddd;
    color: black;
}

.container {
    padding: 20px;
    margin: auto;
    max-width: 1200px;
}

h1, h2 {
    color: #333;
}

input[type="text"], textarea {
    width: calc(100% - 30px); 
    padding: 10px;
    margin-bottom: 15px; 
    border: 1px solid #ccc;
    border-radius: 5px; 
    box-sizing: border-box;
    resize: vertical; 
    font-size: 16px; 
    line-height: 1.5;
}

input[type="text"][readonly], textarea[readonly] {
    background-color: #f3f3f3;
    cursor: not-allowed;
}

input[type="text"]:focus, textarea:focus {
    border-color: #4A90E2;
    outline: none;
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block; 
}

button:hover {
    background-color: #45a049;
}

.result, .input-display {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
    overflow-x: auto; 
    word-wrap: break-word; 
}

.result * {
    max-width: 100%; 
    box-sizing: border-box;
}

.input-display {
    font-family: monospace;
    color: #333;
}

.input-display div {
    margin-bottom: 10px;
}

.highlight {
    color: #0056b3;
    font-weight: bold;
}

.error-details {
    color: red;
    margin-top: 20px;
}

textarea.large-textarea {
    min-height: 250px;
    background-color: #fff;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    max-width: 13%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5001;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: #ddd;
    width: 100%;
}

.dropbtn {
    background-color: #333;
    color: white;
    padding: 14px 20px;
    font-family: Arial, sans-serif;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: none;
    cursor: pointer;
    display: inline-block;
}

.dropbtn:hover {
    text-decoration: none;
    border-radius: none;
}

.dropdown-content::after {
    content: "";
    display: table;
    clear: both;
}

.dropdown-content a:hover {
    background-color: #d0d0d0;
    color: #333; 
}