<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base64 Encoder/Decoder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% include 'google_analytics.html' %}
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <h2>Base64 Encoder/Decoder</h2>
        <form method="POST" class="input-form">
            <div class="form-group">
                <label for="operation">Choose operation:</label>
                <select name="operation" id="operation" class="form-control">
                    <option value="encode" {% if operation == 'encode' %}selected{% endif %}>Encode</option>
                    <option value="decode" {% if operation == 'decode' %}selected{% endif %}>Decode</option>
                </select>
            </div>
            <div class="form-group">
                <label for="input_text">Input Text:</label>
                <textarea name="input_text" id="input_text" rows="4" cols="50" class="form-control">{{ input_text }}</textarea>
            </div>
            <button type="submit" class="btn">Submit</button>
        </form>
        {% if output %}
            <div class="result">
                <h3>Output:</h3>
                <textarea id="output" rows="4" cols="50" readonly class="form-control output">{{ output }}</textarea>
            </div>
        {% endif %}
    </div>
</body>
</html>
