<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Regex Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% include 'google_analytics.html' %}
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <h2>Regex Generator</h2>
        <form method="POST">
            <textarea name="text_input" placeholder="Enter text to generate regex..." required>{{ text_input }}</textarea>
            <button type="submit">Generate</button>
        </form>
        {% if regex_pattern %}
            <div class="result">
                <h3>Provided Input:</h3>
                <p>{{ text_input }}</p>
                <h3>Generated Regex Pattern:</h3>
                <input type="text" value="{{ regex_pattern }}" readonly>
            </div>
        {% endif %}
    </div>
</body>
</html>
